    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
    <link rel="manifest" href="/static/img/site.webmanifest">
    <link rel="mask-icon" href="/static/img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">    
    <meta property="og:title" content="{{ metadata.title }}">
    <meta property="og:site_name" content="Sherpa">
    <meta property="og:url" content="https://sherpatoolbox.com">
    <meta property="og:description" content="{{ metadata.description }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://sherpatoolbox.com/static/img/og-image.jpg">